data/*/
data/support_set_*.npz
data/sampled_*.npz
data/flickr8k.tags.all.txt

images/

model_metadata/**/*.pt
model_metadata/**/tensorboard/
model_metadata_backup/

pretrained_cpc/

QbERT/background_encoded/
QbERT/backup/
QbERT/queries_*/
QbERT/textgrids/
QbERT/utterances_*/
QbERT/hubert-french.pt
results/
visual_keys/
visual_keys.npz

*.ipynb
multiple_test_vpkl.py
flickr_layer_visualisation.py
qbert_lookup_original.py
random_baseline_val_vpkl_mean_threshold.py
results.zip
test_check.py
keywords_for_flickr.py
random_baseline.py


.ipynb_checkpoints/
*/__pycache__/*
*/__pycache__/*.pyc