data/*/
data/support_set_*.npz
data/sampled_*.npz

model_metadata/**/*.pt
model_metadata/**/tensorboard/
model_metadata_backup/

pretrained_cpc/

QbERT/background_encoded/
QbERT/backup/
QbERT/queries_*/
QbERT/utterances_*/
QbERT/hubert-french.pt

visual_keys/

*.ipynb
flickr_layer_visualisation.py
keywords_for_flickr.py
random_baseline.py


.ipynb_checkpoints/
*/__pycache__/*
*/__pycache__/*.pyc